@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body{
  /* font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgba(54, 67, 90, 0.39); */
  background-color: rgba(109, 119, 138, 0.39);
  overflow: hidden;
}

:root{
  /* --line-color:rgb(182, 182, 82) */
  /* --ba */
  --border-color:rgba(97, 97, 97, 0.568);
}

.backGround{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* BackGround */
.backGroundCircle1{
  /* position: absolute; */
  height: 50vw;
  width: 50vw;
  border-radius: 50%;
  /* background: rgba(247, 247, 248, 0.726); */
  background: rgba(176, 181, 187, 0.726);
  bottom: -5vw;
  right: -10vw;
  z-index: -1;
}

/* BackGround */
.backGroundCircle2{
  /* position: absolute; */
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  /* background: rgba(247, 247, 248, 0.726); */
  background: rgba(176, 181, 187, 0.726);
  top: -20vw;
  left: -10vw;
  z-index: -1;
}

/* BackGround */
.backGroundCircle3{
  /* position: absolute; */
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  /* background: rgba(247, 247, 248, 0.726); */
  background: rgba(176, 181, 187, 0.726);
  bottom: 0vw;
  left: 15vw;
  z-index: -1;
}


/* Main Section */
.mainSection{
  /* max-width: 99vw; */
  margin: auto; 
  margin-top: 80px;
  height: 804px;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  overflow: hidden;
}

/* Neural Network */
.neuralNetwork{
  position: relative;
  height: 800px;
  width: 600px;
  display: grid;
  grid-template-rows: 150px 0px 0px 600px 50px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgba(97, 97, 97, 0.425);
  /* background-color: rgba(103, 108, 117, 0.521); */
  /* border-top: 0px; */
  /* border-bottom: 0px; */
  background-color: rgb(190, 199, 206);
}

/* Options */
.options{
  /* background-color: rgb(255, 255, 255); */
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 200px 0px;
  border-radius: 10px 10px 10px 10px;
}

.optionHeader{
  display: grid;
  grid-template-columns: 40px 1fr ;
  font-size: 14px;
  margin-top: -12px;

}

.optionsButton{
  height:50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.optionImage{
  width: 30px;
  height: 30px;
  z-index: 2;
}

.optionImage:hover{
  cursor: pointer;
}


.setupInputs{
  margin-top: 5px;
  height: 130px;
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
}

.setupInput{
  display: grid;
  grid-template-columns: 1fr 50px;
}

.isetup{
  height: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.isetup p{
  margin: 0px;
  padding: 0px;
  padding-top: 3px;
}

.isetupValue {
  font-weight: 900;
}

.setupInput h2{
  font-size: 30px;
  margin: 0px;
  padding:0px;
}

.additionaOptions{
  transition: 300ms width;
  transition-timing-function: ease-out;
  position: relative;
  margin-top: 5px;
  height: 750px;
  display: grid;
  grid-template-rows: 40px repeat(10,50px);
  overflow: hidden;
  background-color: rgb(178, 192, 185);
  background-color: rgb(190, 199, 206);
  border: 2px solid var(--border-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* box-shadow: 0px 0px 1px 1px #d3d3d3; */
  max-width: 425px;
}

.aOptionHeader{
  font-size: 20px;
}

.aOptionContainer  h2{
  margin-top: 0px;
  padding: 0px;
}

.inputContainer{
  width: 400px;
  margin-left:40px; 
}

.input{
  /* width: 250px; */
  display: grid;
  grid-template-columns: 270px 70px 40px;
  grid-template-rows: 25px 30px;
}

.input p{
  margin: 0px;
  padding: 0px;
}

.inputValue{
  margin: 0px;
  margin-top: 12px;
  text-align: left;
}

.description{
  margin-top: 0x;
  width: 40px;
  height: 40px;

}

.description:hover .descriptionText{ 
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
}

.descriptionText{  
  transition: 200ms width;
  position: relative;
  left: -400px;
  width: 0px;
  height: 50px;
  overflow: hidden; 
  background-color: rgb(104, 104, 104);
  color: rgb(223, 223, 223);
  z-index: 10;
  background: linear-gradient(90deg, rgb(129, 129, 129) 80%, rgba(255, 255, 255, 0) 100%);
}

.infosvg{
  fill: rgb(150, 71, 71);
}

.inputSlider{
  height: 2px;
  width: 250px;
}

/* Simulation control */
.simulationControl{
  height: 140px;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.simulationButtons{
  height: 35px;
  display: grid;
  grid-template-columns: repeat(3,120px);
  grid-gap: 5px;
  margin: 0px 5px;
}

.simulationButtons button{
  border: none;
  font-size: 15px;
  background-color: rgb(155, 155, 155);
  color: #141414;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 2px solid rgb(77, 77, 77);
}


.simulationButtons button:hover{
  background-color: rgb(100, 100, 100);
  color: rgba(255, 255, 255, 0.705);
  cursor: pointer;
}

.simulationState{
  padding-left: 10px;
  height: 80px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.795) 39%, rgba(0,0,0,0) 100%);
}

.simulationState h3{
  margin: 0px;
  margin-top: 7px;
  padding: 0px;
}

.simulationState h1{
  margin: 0px;
  padding: 0px;
}

.statistics h3{
  text-align: center;
  margin: 0px;
  margin-top: 30px;
  /* padding: 0px; */
}
.statistics h1{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* Simulation stats */
.simulationStats{
  position: relative;
  height: 150px;
  border-top-right-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  color: rgb(114, 114, 114);
  border-left: 2px solid rgb(131, 131, 131);
  padding-left: 10px;
  background-color: #bbbbbb;
}

.simulationStats p{
  font-size: 18px;
  padding-top: 5px;
  margin: 0px;
}

.simulationNumber{
  font-size: 25px;
  margin: 0px;
  font-weight: 600;
}

/* Speed Input */
.speedInput{
  position: relative;
  margin-left: 3px;
  font-size: 18px;
  margin-top: -17px;
}

.speed{
  height: 4px;
  position: relative;
  width: 594px;
  border: 30px;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  z-index: 1;
}

.speedTag{
  margin: 0px;
  padding: 0px;
}

.speedHeader{
  font-size: 25px;
}

.canvas{
  background-color: rgba(255, 255, 255, 0.658);
  border-bottom: 2px solid var(--line-color);
  border-top: 2px solid var(--line-color);
}

.statCanvas{
  position: relative;
  margin-left: auto;
  margin-top: -150px;
  background-color: rgba(255, 255, 255, 0);
  /* border-left: 2px solid black; */
  background-color: #fcfcfc;
  border-top-right-radius: 7px;

}

.chartContainer{
  overflow: hidden;
  height: 800px;
  width: 600px; 
}

.charts{
  width: 500px; 
  height: 500px;
  margin:auto;
  margin-top: 165px;
  display: grid;
  grid-row-gap: 100px;
  transition: 600ms margin-left;
}

.visuals{
  height: 300px;
  width: 500px;
  margin:auto;
  margin-top: 0px;
}

.visualNavigation{
  height: 50px;
  background-color: rgb(155, 155, 155);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #d3d3d3;
}

.visualNavigation button{
  background-color: rgba(141, 32, 32, 0);
  color: #141414;
  border-radius: 5px;
  height: 50px;
  border: none;
  padding: 0px;
  transition: 200ms background-color;
  font-size: 15px;
  border-left: 2px solid rgb(77, 77, 77);
}


.visualNavigation button:hover{
  background-color: rgb(100, 100, 100);
  color: rgba(255, 255, 255, 0.705);
  cursor: pointer;
}



.visualHeader{
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-left: 2px solid rgb(77, 77, 77);
}

.visualHeader h1{
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}

.birdView{
  margin-top: 50px;
}

.birdInput p{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  z-index: -2;
}

.birdInput{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.fade{
  /* background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%,rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .5) 55%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0; */
  position: relative;
  margin-top: -200px;
  height: 200px;
  z-index: -1;
}

.neuralNet{
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50px 50px 0px 1fr;
  overflow: hidden;
}


.layerOptions {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0px;
  height: 60px;
}

.layerOpen{
  z-index: 1;
  margin-left: -40px;
}

.lOptions{
  margin: 0px 5px;
  background-color: rgba(152, 153, 155, 0.363);
  position: relative;
  z-index: -1;
  height: 40px;
  border: 2px solid rgb(63, 63, 63);
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.lOptions h3{
  text-align: center;
  margin: 0px;
  padding-top: 7px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}

.oValue{
  color: rgb(55, 61, 80);
}

.neuralOptions{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: relative;
}

#layers{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(70px,1fr));
  height: auto;
}

.neuralSvg{
  position: relative;
  height: 2000px;
  width: 500px;
  z-index: -2;
}

.neuralLine{
  stroke-dasharray: 1500;
  stroke-dashoffset: 0;
  animation-name: example;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes example {
  
  0%   {stroke-dashoffset: 1500}
  /* 25%  {stroke-dashoffset: 100} */
  /* 50%  {stroke-dashoffset: 100} */
  100% {stroke-dashoffset: 0}
}


.layer{
  display: grid;
  grid-template-rows: 200px repeat(auto-fit,minmax(30,1fr)); 
  justify-self: center;
  grid-row-gap: 10px;
  color: #7c7c7c;
}


.layerHeader h3{
  margin: 0px;
  padding: 0px;
}

.addLayer{
  position: relative;
  height: 20px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  padding: 0px 9px 0px 9px;
  z-index: 5;
}

.addLayer button{
  font-size: 13px;
  background-color: white;
  border-radius: 5px;
}

.addLayer button:hover{
  cursor: pointer;
  background-color: rgb(233, 178, 178);
}

.neuron{
  height: 30px;
  width: 30px;
  border: 1px solid rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  justify-self: center;
  /* display: flex; */
  box-shadow: inset 0 0 3px rgb(97, 97, 97);
  transition: 200ms transform;
}

.neuron:hover{
  /* opacity: 0.8; */
  transform: scale(0.95)
}

.neuronInfo{
  position: relative;
  top: 0px;
  left: 22px;
  height: 0px;
  width: 0px;
  background-color: #979797;
  color: rgb(230, 230, 230);
  opacity: 0;
  transition: opacity 200ms, height 200ms, width 200ms, top 200ms,opacity 200ms;  
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5px 5px 5px 0px;
  overflow: hidden;
  text-align: center;
}

.neuron:hover .neuronInfo{
  opacity: 1;
  width: 70px;
  top: -25px;
  height: 25px;
}

/* .neuron p{
  width: 30px;
  align-self: center;
  text-align: center;
} */


.DNA{
  margin-top: 50px;
}

.dnaPage{
  width: 500px;
  height: 500px;
  margin-top: 50px;
  height: auto;
  display: grid;
  grid-template-rows: 0px 1fr;
}

.centerAlign{
  height: 1px;
  width: 1px;
  justify-self: center;
  margin-top: 50%;
}

.centerDot{
  position: relative;
  top: -15px;
  left: -15px;
  height: 30px;
  width: 120px;
  border: 2px solid rgba(53, 53, 53, 0.638);
  background-color: rgb(163, 163, 163);
  border-radius: 25px;
  z-index: 1;
  display: flex;
}

.centerDot p{
  padding-left: 5px;
  font-size: 15px;
  margin: 0px;
  align-self: center;
}

.fitnessPercentage{
  align-self: center;
  margin: 0px;
  padding-left: 5px;
  font-size: 17px;
}

/* Family Tree */

.familyTree{
  margin-top: 50px;
  height: 500px;
  
}

.generationContainer{
  height: auto;
  max-height: 600px;
  overflow-y: scroll;
  display: flex; 
  flex-direction: column-reverse;
}

.generationContainer::-webkit-scrollbar {
  display: none;
}

.generation{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-column-gap: 5px;
  margin-top: 5px;
}

.oldgen{
  background-color: rgb(206, 228, 216);
  border-radius: 40%;
  height: 30px;
  width: 40px;
}

.oldgen p{
  text-align: center;
  margin: 0px;
  padding-top: 5px;
  font-size: 12px;
}

.currentGen{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  border-top: 2px solid black;
  margin-top: 15px;
}

.currentGen p{
  background-color: rgb(206, 228, 216); 
  border-radius: 40%; 
  height: 30px; 
  width: 40px;
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  margin-top: 5px;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    -webkit-appearance: none;
    background-color: rgb(68, 173, 138)
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    width: 30px;
    height: 2px;
    border: none;
    border-radius: 3px
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 510%;
    background: #141414;
    border: 2px solid #515151;
    margin-top: -6px;
    cursor: pointer
  }

  input[type=range]:focus {
    outline: none
  }
}

@media only screen and (max-width: 1050px) {

  input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin-top: -8px;
  }

  .navbar{
    display: none;
  }

  .mainSection{
    max-height: 100vh;
    margin-top: 0px;
    grid-template-columns: 1vw;
    grid-template-rows: repeat(3,0px);
    overflow: hidden;
    
  }
  .neuralNetwork{
    width: 100vw;
    height: 99vh;
    grid-template-rows: 150px 0px 0px 600px 50px;
    border-radius: 0px;
    border: 0px;
  }

  /* Options */
  .options{
    width: 98vw;
    grid-template-columns: minmax(120px,1fr) 1fr;
  }

  .setupInputs{
    width: auto;
  }

  .setupInput{
    width: auto;
  }

 .setupInputSlider{
   width: 100%;
 }
  .isetup{
    width: auto;
    grid-template-columns: 40px 1fr 40px;
    text-align: center;
  }

  .simulationControl{
    margin-top: 60px;
    height: 140px;
    display: grid;
    grid-template-rows: 40px 1fr;
  }
  .simulationButtons{
    position: absolute;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-auto-rows: minmax(25px,50px);
  }

  .additionaOptions{
    max-width: 100vw;
    position: absolute;
    top: 136px;
    border: 0px;
    box-shadow: 0px 0px 1px 1px #d3d3d300;
    min-height: 100vh;
    z-index: 3;
    overflow: scroll;
  }

  .inputContainer{
    position: absolute;
    width: 100vw;
    margin-left:0px; 
  }
  .input{
    grid-template-columns: 1fr 70px 50px;
    grid-template-rows: 25px 30px;
  }
  .inputSlider{
    width: 90%;
    justify-self: center;
    padding-left: 10px;
  }
  .input p{
    padding-left: 10px;
  }

  .descriptionText{  
    left: -100vw;
    max-width: 70vw;
    padding-left: 80px;
    height: auto;
    min-height: 50px;
  }

  .description:hover .descriptionText{ 
    padding-left: 60px;
    padding-right: 60px;
  }

  .speedInput{
    width: 0px;
    transition: 0ms width;
  }

  .description:hover .descriptionText{ 
    width: 98vw;
  }

  .canvas{
    width: 100vw;
    height:75vh;
  }
  
  .simulationStats{
    background-color: #bbbbbb;
  }
  
  .speed{
    width: 98vw;
    z-index: 2;
  }

  .visualNavigation{
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100vw;
    border-radius: 0px;
  }

  .visualNavigation{
    grid-template-columns: repeat(auto-fit,minmax(40px,1fr));
    height: 30px;
  }
  
  .visualNavigation button{
    height: 30px;
    font-size: 13px;
    border-left: 2px solid rgb(77, 77, 77);
    /* border-left: 0px; */
  }

  .visuals{
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }

  .visualPages{
    margin-top: -40px;
    padding-top: 80px;
    height: 110vh;
  }

  .visualShade{
    position: absolute;
    height: 150px;
    width: 100vw;
    background-color: rgb(190, 199, 206);
    z-index:-1;
  }

  .optionImage{
    z-index: 2;
  }

  .lOptions h3{
    font-size: 15px;
  }

  .layerOptions{
    z-index: 1;
  }

  .neuralSvg{
    z-index: 0;
    width: 99vw;
  }

  .addLayer{
    margin-top: 20px;
  }
  .chartContainer{
    overflow-y: scroll;
    width: 99vw; 
    margin-left: -10px;
    height: 150px;
  }
  .charts{
    margin-top: 0px;
    width: 90vw;
    height: 200px;
    grid-row-gap: 0px;
  }  
  .chart{
    height:150px;
    width: 85vw;
  }

  .dnaPage{
    width: 99vw;
    height: 99vw;
  }
  
  .birdInput p{
    z-index: -1;
  }
}