
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Navigation */

.navbar{
  width: 100vw;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(211, 211, 211);
  text-align: center;
}


/* Main Section */
.mainSection{
  margin: auto; 
  margin-top: 20px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}

/* Neural Network */
.neuralNetwork{
  position: relative;
  background-color: white;  
  height: 800px;
  display: grid;
  grid-template-rows: 150px 0px 0px 600px 50px;
  border: 1px solid rgb(163, 163, 163);
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */

}

/* Options */
.options{
  background-color: rgb(241, 241, 241);
  width: 600px;
  height: 150px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.optionHeader{
  display: grid;
  grid-template-columns:  1fr 40px;
  font-size: 14px;
  margin-top: -12px;
}

.optionHeader h2{
  /* margin-top: 2px; */
}

.optionImage{
  margin-top: 17px;
  width: 30px;
  height: 30px;
}

.optionImage:hover{
  cursor: pointer;
}

.buttons{
  margin-top: 4px;
  display: grid;
  grid-template-rows: repeat(3,45px);
  grid-gap: 3px;
}

.buttons button{
  margin: auto;
  width: 180px;
  height: 100%;
  border: none;
  font-size: 15px;
  background-color: rgb(182, 194, 184);
  border-radius: 5px;

}

.buttons button:hover{
  background-color: rgb(108, 134, 128);
  color: white;
  cursor: pointer;
}

.inputs{
  position: relative;
  margin: 5px 5px 5px 0px;
  height: 100px;
  display: grid;
  grid-template-rows: 40px repeat(10,50px);
  z-index: 10;
  overflow: hidden;
  background-color: rgb(182, 194, 184);
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 5px;
}

.inputs h2{
  margin: 0px;
  padding: 0px;
  align-self: center;
}

.input{
  width: 150px;
  display: grid;
  grid-template-columns: 140px 50px;
}

.input p{
  margin: 0px;
  padding: 0px;
}

.inputValue{
  margin: 0px;
  margin-top: 20px;
  text-align: left;
}

/* Statistics */
.statistics{
  margin: 5px 10px 5px 0px;
  height: auto;
  border-radius: 5px;
  height: 140px;
}

.statistics h3{
  text-align: center;
  margin: 0px;
  margin-top: 30px;
  /* padding: 0px; */
}
.statistics h1{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* Simulation stats */
.simulationStats{
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.simulationStats p{
  font-size: 18px;
  padding-top: 0px;
  margin: 0px;
}

.simulationNumber{
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

/* Speed Input */
.speedInput{
  position: relative;
  margin-left: 3px;
  font-size: 18px;
  margin-top: 10px;
}

.speed{
  width: 594px;
  border: 30px;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}

.speedHeader{
  font-size: 25px;
}

.canvas{
  background-color: rgb(224, 225, 226);
}

.charts{
  margin:auto;
  margin-top: 165px;
  height: 300px;
  width: 500px;
  display: grid;
  grid-row-gap: 100px;
}

.visuals{
  height: 300px;
  width: 500px;
  margin:auto;
  margin-top: 0px;
}

.visualControls{
  height: 50px;
  background-color: rgb(110, 143, 148);
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.visualControls button{
  height: 50px;
  background-color: rgb(227, 231, 231);
  border: none;
  padding: 0px;
  z-index: 1;
}


.visualControls button:hover{
  cursor: pointer;
}

.visualPages{
  /* margin-top: 100px; */
}

.visualHeader{
  width: 100%;
  height: 50px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}
.visualHeader h1{
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}

.birdView{
  margin-top: 50px;
}

.birdInput p{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  z-index: -2;
}

.birdInput{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.fade{
  background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .5) 55%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
  position: relative;
  margin-top: -200px;
  height: 200px;
  z-index: -1;
}

.neuralNet{
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50px 50px 0px 1fr;
  overflow: hidden;
}


.layerOptions {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0px;
  height: 60px;
}

.layerOpen{
  z-index: 1;
  margin-left: -40px;
}

.lOptions{
  background-color: rgba(152, 153, 155, 0.363);
  position: relative;
  z-index: -1;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.lOptions h3{
  text-align: center;
  margin: 0px;
  padding-top: 7px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}

.oValue{
  color: rgb(55, 61, 80);
}

.neuralOptions{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: relative;
}

#layers{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(70px,1fr));
  height: auto;
  /* z-index: ; */
}

.neuralSvg{
  position: relative;
  height: 2000px;
  width: 500px;
  z-index: -2;
}

.layer{
  display: grid;
  grid-template-rows: 200px repeat(auto-fit,minmax(30,1fr)); 
  justify-self: center;
  grid-row-gap: 10px;
  /* margin-left: 15px; */
}


.layerHeader h3{
  margin: 0px;
  padding: 0px;
}

.addLayer{
  position: relative;
  height: 20px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  padding: 0px 9px 0px 9px;
  z-index: 5;
}

.addLayer button{
  font-size: 13px;
  background-color: white;
  border-radius: 5px;
}

.addLayer button:hover{
  cursor: pointer;
  background-color: rgb(233, 178, 178);
}

.neuron{
  height: 30px;
  width: 30px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  justify-self: center;
  display: flex;
}

.neuron p{
  width: 30px;
  align-self: center;
  text-align: center;
}

.DNA{
  margin-top: 50px;
}

.dnaChart{
  margin-top: 50px;
}


/* Family Tree */

.familyTree{
  margin-top: 50px;
  height: 500px;
  
}

.generationContainer{
  height: auto;
  max-height: 600px;
  overflow-y: scroll;
  display: flex; 
  flex-direction: column-reverse;
}

.generationContainer::-webkit-scrollbar {
  display: none;
}

.generation{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-column-gap: 5px;
  margin-top: 5px;
}

.oldgen{
  background-color: rgb(206, 228, 216);
  border-radius: 40%;
  height: 30px;
  width: 40px;
}

.oldgen p{
  text-align: center;
  margin: 0px;
  padding-top: 5px;
  font-size: 12px;
}

.currentGen{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  border-top: 2px solid black;
  margin-top: 15px;
}

.currentGen p{
  background-color: rgb(206, 228, 216); 
  border-radius: 40%; 
  height: 30px; 
  width: 40px;
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  margin-top: 5px;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    -webkit-appearance: none;
    background-color: rgb(68, 173, 138)
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    width: 20px;
    height: 2px;
    border: none;
    border-radius: 3px
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 510%;
    background: #141414;
    border: 2px solid #515151;
    margin-top: -6px;
    cursor: pointer
  }

  input[type=range]:focus {
    outline: none
  }

}