


/* Navigation */

.navbar{
  width: 100vw;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(211, 211, 211);
  text-align: center;
}


/* Main Section */
.mainSection{
  width: 600px;
  margin: auto; 
  margin-top: 20px;
  background-color: rgb(210, 215, 224);
  height: 800px;
  display: grid;

}

/* Options */
.options{
  background-color: rgb(197, 197, 156);
  width: 600px;
  margin-top: auto;
  justify-content: center;
  height: 100%;
}

/* Neural Network */
.neuralNetwork{
  background-color: white;  
  height: 800px;
  display: grid;
  grid-template-rows: 150px 600px;
  border: 1px solid rgb(163, 163, 163);
}

.canvas{
  background-color: rgb(224, 225, 226);
}